<table class="table table-striped table-hover">
        <tr>
            <th> ID </th>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Occupation </th>
            <th> Group </th>
            <th> Email </th>
            <th> Phone Number </th>
            <th> Position </th>
            <th>  </th>
            <th>  </th>
        </tr>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.occupation }}</td>
            <td>{% if teacher.group_id %}
                    <a href="{% url 'groups:group' id=teacher.group_id %}">
                        {{ teacher.group.name }}
                    </a>
                    {% else %}
                        <i>NOT DEFINED</i>
                {% endif %}
            </td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.phone_number }} </td>
            <td>{{ teacher.position }} </td>
            <td>   <a href="{% url 'teachers:edit_teachers' id=teacher.id %}"> Edit </a> </td>
            <td>   <a href="{% url 'teachers:delete_teachers' id=teacher.id %}"> Delete </a> </td>
        </tr>
    {% endfor %}
</table>