{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title> Teachers </title>
{% endblock %}
{% block main %}
    <form>
        <p> Search Teachers </p>
        {{ filter.form|crispy }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    <br>
    <a href="{% url 'teachers:create_teachers' %}"> Add new Teacher </a>
    <br>
    <br>
    {% include 'teachers/_teachers_list_table.html' with teachers=page_obj.object_list%}
    {% include '_pagination.html' %}
{% endblock %}
